.App {
  text-align: center;
}

.user-details {
  padding: 20px;
  margin: 0 0 20px 0;
}

.user-name {
  margin: 0 0 20px 0;
  font-size: 22px;
}

.user-coins-count {
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
}

.user-coins-rate {
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
}

.user-coins-count img, .user-coins-rate img {
  margin: 0 5px 0 0;
}

li {
  list-style-type: none;
}

.contact-details-header {
  display: flex;
  justify-content: space-between;
  height: 40px; 
}
.contact-details-header a:not(:last-child) {
  margin: 0 10px 0 0; 
}

.contact-details .contact-details-row {
  margin: 10px 0 0 0; 
}

.moves-list-container, .transter-coins-container {
  margin: 20px 0;
}